In [1]:
import pandas as pd

df= pd.read_csv('filterProba.csv')

df

     PlayerCard1 PlayerCard2 DealerHand PlayerChoices   Win  Lost  Push  Total
0             10          10         10        double   681  8779    78   9538
1             10          10         10           hit   338  4308    33   4679
2             10          10         10          stay  7727  1660  4761  14148
3             10          10          2        double   179  2191    29   2399
4             10          10          2           hit    84  1096     9   1189
...          ...         ...        ...           ...   ...   ...   ...    ...
2955           A           A          9           hit    34    39     4     77
2956           A           A          9          stay    52   153     0    205
2957           A           A          A        double    15    86     9    110
2958           A           A          A           hit    17    39     7     63
2959           A           A          A          stay     9   160     0    169

[2960 rows x 8 columns]

In [15]:
df['WinPercentage'] = round((df['Win'] / df['Total']) * 100,2)

df['GroupID'] = df.index // 3
df

winning_rows = df.loc[df.groupby('GroupID')['WinPercentage'].idxmax()]

winning_rows

winning_rows.to_csv('winning_rows.csv', index=False)