In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('probabilities.csv')

In [24]:
grouped = df.groupby(['PlayerCard1', 'PlayerCard2', 'DealerHand', 'PlayerChoices'])

In [25]:
result = grouped.agg(
    Win=pd.NamedAgg(column='PlayerWin', aggfunc=lambda x: (x == 1).sum()),
    Lost=pd.NamedAgg(column='PlayerWin', aggfunc=lambda x: (x == 0).sum()),
    Push=pd.NamedAgg(column='PlayerWin', aggfunc=lambda x: (x == 2).sum()),
    Total=pd.NamedAgg(column='PlayerWin', aggfunc='count')
)

result

                                                   Win  Lost  Push  Total
PlayerCard1 PlayerCard2 DealerHand PlayerChoices
10          10          10         double          681  8779    78   9538
                                   hit             338  4308    33   4679
                                   stay           7727  1660  4761  14148
                        2          double          179  2191    29   2399
                                   hit              84  1096     9   1189
...                                                ...   ...   ...    ...
A           A           9          hit              34    39     4     77
                                   stay             52   153     0    205
                        A          double           15    86     9    110
                                   hit              17    39     7     63
                                   stay              9   160     0    169

[2960 rows x 4 columns]

In [26]:
result.to_csv('filterProba.csv')